# ETL 
Here we will go through the ETL process

In [1]:
%load_ext sql

In [2]:
import boto3
import configparser
import pandas as pd
from sql_queries import *

## Get params of created redshift cluster

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

DWH_ENDPOINT = config.get("CLUSTER","HOST")
DWH_ROLE_ARN = config.get("IAM_ROLE","ARN")

In [4]:
DWH_ROLE_ARN

'arn:aws:iam::847022714848:role/dwhRole'

## Connect to Redshift Cluster

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### Load data into cluster

In [6]:
#Load log data
%sql $staging_events_copy

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [7]:
#load song data
%sql $staging_songs_copy

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

### Create tables

In [8]:
#Check data
%%sql

SELECT * 
FROM staging_songs_table
Limit 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'ARIG6O41187B988BDD', '37.167929999999998', '-95.845020000000005', 'United States', 'Richard Souther', 'SOUQQEA12A8C134B1B', 'High Tide', Decimal('228'), 0),
 (1, 'AR6468X1187FB5AA0C', None, None, '', 'Micky Modelle', 'SOFXNXU12AB018A46E', 'Always On My Mind', Decimal('280'), 0),
 (1, 'AR3DXTG1187FB38776', None, None, 'Bexleyheath, Kent, England', 'Kate Bush', 'SOGYILS12AF72A82AD', 'Coffee Homeground', Decimal('219'), 1978),
 (1, 'ARQY5EG1187FB57063', None, None, '', 'Chuck Loeb', 'SOJUCAI12A8C135D62', 'New Life', Decimal('325'), 0),
 (1, 'ARJIUJH1187B9B84FD', '34.94652', '-89.437299999999993', 'Slayden, MS', 'Charlie Feathers', 'SOUUERM12AB01850E4', 'Frankie & Johnny', Decimal('167'), 0)]

In [9]:
#check data
%%sql

SELECT * 
FROM staging_events_table
Limit 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', Decimal('267'), 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', Decimal('1541044398796'), Decimal('256'), 'Almost Lover (Album Version)', Decimal('200'), Decimal('1541377992796'), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69'),
 ('Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', Decimal('214'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), Decimal('237'), 'Serve The Servants', Decimal('200'), Decimal('1541381242796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', Decimal('238'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), Decimal('237'), 'See No Evil  (Remastered LP Version)', Decimal('200'), Decimal('1541381456796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', Decimal('346'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), Decimal('237'), 'Blues To Bechet (LP Version)', Decimal('200'), Decimal('1541381694796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', Decimal('80'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), Decimal('237'), "It's My Job To Keep Punk Rock Elite", Decimal('200'), Decimal('1541382040796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]

# Creating Fact and Dimension Tables
Here we will go through each table and insert the data.

## Song plays table
Songplays table contains: songplay_id, start time, user id, level, song id, artist id, session, location, user agent.

In [10]:
%%sql
INSERT INTO songplay_table 
(start_time, user_id, level, song_id,
 artist_id, session_id, location, user_agent) 
(SELECT TIMESTAMP 'epoch' + e.ts/1000 * interval '1 second' AS start_time,
 e.userid, e.level, s.song_id,
 s.artist_id, e.sessionid,
 e.location, e.useragent
FROM staging_events_table AS e
JOIN staging_songs_table AS s
ON e.song = s.title
WHERE e.page = 'NextSong')

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
1144 rows affected.

[]

In [11]:
%%sql
SELECT *
FROM songplay_table
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(6, datetime.datetime(2018, 11, 23, 20, 29, 46, 796000), Decimal('85'), 'paid', 'SOXKMLO12AB017FFDB', 'ARLGIX31187B9AE9A0', Decimal('891'), 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (70, datetime.datetime(2018, 11, 8, 10, 46, 47, 796000), Decimal('80'), 'paid', 'SOBHAQP12AB018B4D9', 'AR85NLK1187B999F2E', Decimal('342'), 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (134, datetime.datetime(2018, 11, 14, 8, 59, 20, 796000), Decimal('58'), 'paid', 'SOVOZSC12A8C144E73', 'ART0ETO1187B9AB519', Decimal('522'), 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (198, datetime.datetime(2018, 11, 14, 18, 5, 51, 796000), Decimal('80'), 'paid', 'SOIRGRL12AB0186BC2', 'ARLDW6Z1187FB3F2A0', Decimal('574'), 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (262, datetime.datetime(2018, 11, 7, 15, 16, 17, 796000), Decimal('2'), 'free', 'SOTJEIC12A8C139054', 'AR0OTEX1187FB3600D', Decimal('323'), 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

## User table
User table contains :user id, first name, last name, gender, and level.

In [12]:
%%sql
INSERT INTO user_table 
(user_id , first_name, last_name, 
gender, level)
(SELECT DISTINCT e.userid, e.firstname, e.lastname, e.gender, e.level
FROM staging_events_table AS e
WHERE e.userid IS NOT NULL
AND e.firstname IS NOT NULL)

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
105 rows affected.

[]

In [13]:
%%sql
SELECT *
FROM user_table
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(Decimal('44'), 'Aleena', 'Kirby', 'F', 'paid'),
 (Decimal('42'), 'Harper', 'Barrett', 'M', 'paid'),
 (Decimal('55'), 'Martin', 'Johnson', 'M', 'free'),
 (Decimal('16'), 'Rylan', 'George', 'M', 'free'),
 (Decimal('97'), 'Kate', 'Harrell', 'F', 'paid')]

## Songs table
Songs table contains: song id, title, artist id, year, duration

In [14]:
%%sql
INSERT INTO song_table (
song_id,title,artist_id,year,duration) 
(SELECT s.song_id, s.title, s.artist_id, s.year, s.duration
FROM staging_songs_table AS s
WHERE s.song_id IS NOT NULL
)

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

In [15]:
%%sql
SELECT *
FROM song_table
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SONQBUB12A6D4F8ED0', 'Angie (1993 Digital Remaster)', 'ARFCUN31187B9AD578', Decimal('0'), Decimal('271')),
 ('SOOXGQJ12A8C1390C5', 'Even Sleeping', 'ARAIJE71187FB5AF69', Decimal('2008'), Decimal('196')),
 ('SOEKUCQ12A81C21239', 'Trick Me (Mac & Toolz Extended Remix) (Explicit)', 'ARIGPNM1187B98C744', Decimal('2004'), Decimal('273')),
 ('SOUGNMD12A8AE46545', 'Okay_Okay', 'ARNHT6E1187FB4AB38', Decimal('2007'), Decimal('307')),
 ('SOUCAMC12A6D4F83DD', 'Come Out (Ken Ishii remix)', 'ARVN2HB1187B9A4618', Decimal('0'), Decimal('438'))]

## Artist table
Artist table contains: artist id, name, location, lattitude, longitude

In [16]:
%%sql
INSERT INTO artist_table (
artist_id,artist_name,artist_location,
artist_latitude,artist_longitude) 
(SELECT DISTINCT s.artist_id, s.artist_name AS name,
 s.artist_location AS location, s.artist_latitude AS latitude,
 s.artist_longitude AS longitude
FROM staging_songs_table AS s
WHERE s.artist_id IS NOT NULL)

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
10025 rows affected.

[]

In [17]:
%%sql
SELECT *
FROM artist_table
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARN64NA1187FB4C9B2', 'The Divorce', '', None, None),
 ('ARPKC5A1187FB5C05C', 'Amberian Dawn', '', None, None),
 ('ARHTHC01187B9B6D2A', 'Michael McDonald', 'St. Louis, MO', None, None),
 ('ARR29S51187FB5665E', 'Attack In Black', '', None, None),
 ('ARDPJFP1187FB3D5AB', 'Obrint Pas', '', None, None)]

## Time table
Time table contains: start time, hour, day, week, month, year, weekday.

In [18]:
%%sql
INSERT INTO time_table (
start_time, hour, day, 
week, month, year, weekday) 
(SELECT start_time, 
 DATE_PART(h, start_time) AS hour,
 DATE_PART(d, start_time) AS day,
 DATE_PART(w, start_time) AS week,
 DATE_PART(mon, start_time) AS month,
 DATE_PART(y, start_time) AS year,
 DATE_PART(dayofweek, start_time) AS weekday
FROM songplay_table)

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
8056 rows affected.

[]

In [19]:
%%sql
SELECT *
FROM time_table
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cm4bhoyj57gk.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 5, 1, 40, 40, 796000), Decimal('1'), 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 2, 5, 18, 796000), Decimal('2'), 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 2, 42, 30, 796000), Decimal('2'), 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 4, 40, 25, 796000), Decimal('4'), 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 5, 54, 51, 796000), Decimal('5'), 5, 45, 11, 2018, 1)]